<div id="facets">
  <h3>Path</h3>
  <ul style="list-style-type: none;">
    <% for row in @search_result.facet(:path).rows %>
      <li>
        <% if params[:path].blank? %>
          <%= link_to row.value, :path => row.value %> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= link_to "remove", :path => nil %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<table class="table table-bordered;">
  <%@search_result.results.each do |route| %>
      <tr>
        <td>
          <a href="/features/<%= route.scenario.flow[:feature_id] %>/flows/<%= route.scenario[:flow_id]%>/scenarios/<%=route.scenario[:id]%>/routes/<%=route[:id]%>"><%=route.path%></a> - <%=route.route_type%> </br> </br>
          <a style="color: darkgreen" href="/features/<%= route.scenario.flow[:feature_id] %>/flows/<%= route.scenario[:flow_id]%>/scenarios/<%=route.scenario[:id]%>"><%=route.scenario.flow.feature.feature_name%>-><%=route.scenario.flow.flow_name%>-><%=route.scenario.scenario_name%></a>
        </td>
      </tr>
  <%end%>
</table>
