<div class="container-fluid">
    <%- model_class = Config -%>
    <div>
      <h4><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <form class="form-horizontal feature" id="edit_feature_1" action="/config/1" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="kgt6iGTQxU7mEceMc0Y4/38BCHB+NLg9+N0akjXbk6eUikj5ytr83dhRr/L/C/RMKxgpmoTumvcd4xun9xIbzw==" />
        <table class="table">
            <tbody>
            <% @configs.each do |config| %>
              <tr>
                <td style="margin-left:80%">
                      <input  name="config[server_mode]" type="radio" value="default" <%= (config.server_mode == "default") ? "checked=\"checked\"" : "" %> onclick="set_proxy('default');" style="margin-left:-3px"/>default
                      <input  name="config[server_mode]" type="radio" value="record" <%= (config.server_mode == "record") ? "checked=\"checked\"" : "" %> onclick="set_proxy('proxy');"/>proxy
                      <input name="config[server_mode]" type="radio" value="refresh" <%= (config.server_mode == "refresh") ? "checked=\"checked\"" : "" %> onclick="set_proxy('refresh');"/>refresh
                </td>
              </tr>
          </tbody>
        </table>
       <input type="hidden" value="<%= config.server_mode%>" id="mode"/>
        <table id="proxy" style="display:none" class="table">
            <tbody>
                <tr>
                    <td>
                        Do you want to set proxy?
                          <input  name="config[isProxyRequired]" type="radio" value="yes" style="margin-left:-3px" <%= (config.isProxyRequired == "yes") ? "checked=\"checked\"" : "" %>/>yes
                          <input  name="config[isProxyRequired]" type="radio" value="no" <%= (config.isProxyRequired == "no") ? "checked=\"checked\"" : "" %>/>no
                    </td>
                </tr>
                <tr>
                    <td>
                        Proxy URL:  <input type="text" name="config[url]" value="<%= config.url%>" size="40%"/>
                        <!--Port:  <input type="text" name="config[port]" value="<%= config.port%>"/>-->
                        User name:  <input type="text" name="config[user]" value="<%= config.user%>"/>
                        Password:  <input type="password" name="config[password]" value="<%= config.password%>"/>
                    </td>
                </tr>
            </tbody>

            <% end %>
        </table>
         <a class="btn btn-default" href="/features">Back</a>
         <input type="submit" name="commit" value="Update" class="btn btn-primary" />
   </form>
</div>
<script>
     $( document ).ready(function() {
        set_proxy($("#mode").val());
      });
      function set_proxy(mode)
      {

        if(mode=='default' || mode=='refresh' )
        {
           $("#proxy").css("display","none");
        }
        else{
           $("#proxy").css("display","block");
        }

      }
</script>


