<style>
  ul
  {
    list-style-type: none;
  }
  a{
    cursor: pointer;
  }

</style>

<div class="container-fluid">
    <div style="margin-bottom: 20px;padding-bottom: 5px;border-bottom: 1px solid #eaeaea;">
      <h4 >Report</h4>
    </div>
    <div style="text-align:right;padding-bottom: 15px;">
        <a href="/report/import_report" class="btn btn-primary">Import Report</a>
    </div>
    <div class="report-treeview">
        <%@device_list.each do |device|%>
          <ul class="device-ip">
              <li>
                  <table class="table" >
                      <tr>
                          <td width="70%" style="padding-bottom: 0px">
                            <a  id="<%=device.id%>"> <%=device.device_ip%></a>
                          </td>
                        <td width="30%" style="padding-bottom: 0px">
                          <a data-confirm="Are you sure?" class="btn btn-xs btn-danger" rel="nofollow" data-method="delete" href="/report/delete_report/?device_ip=<%=device.device_ip%>">Delete</a>
                        </td>
                      </tr>
                      <tr>

                        <td colspan="2" style="border-top: 0px;padding: 0px;">
                          <img id="indicator-<%=device.id%>" style="display:none" src="/assets/ajax-loader.gif">
                          <ul id="device-scenario-<%=device.id%>" class="device-scenario" style="display: none">

                          </ul>
                        </td>
                      </tr>
                  </table>

              </li>
          </ul> 
        <%end%>
    </div>
</div>

<script type="text/javascript">
  scenarios_by_device_url = '/report/scenarios_by_device';
  $(document).ready(function(){
      $('.report-treeview .device-ip a').click(function(){
        device_id = this.id;
        $("#indicator-"+device_id).css("display","block")
        $flag = $(".report-treeview #device-scenario-"+device_id).is(':visible');
        if($flag){
          $("#indicator-"+device_id).css("display","none")
          $(".report-treeview .device-ip #device-scenario-"+device_id).hide();
        }else{
            $.ajax({
              url: scenarios_by_device_url+"?device_id="+device_id,
              success: function(response) {
                $("#indicator-"+device_id).css("display","none")
                $(".report-treeview #device-scenario-"+device_id).show();
                $("#device-scenario-"+device_id).html(response);
              }
           });
        }
      });
  });
</script>


 