<li>
    <table class="table table-striped table-bordered"><%@scenario_routes.each do |route| %>

            <%if route.count == -1 || route.count == -2%>
                <tr style="color:red">
                    <td style="word-break: break-all;" width="95%"><%=route.path%></td><td width="5%"><%=route.count%>
                    </td>
                </tr>

            <%elsif route.count>1%>
                <tr style="color:orange">
                    <td style="word-break: break-all;" width="95%"><%=route.path%></td><td width="5%"><%=route.count%>
                    </td>
                </tr>

            <%elsif route.count==0%>
                <tr style="text-decoration:line-through">
                    <td style="word-break: break-all;" width="95%"><%=route.path%></td><td width="5%"><%=route.count%>
                    </td>
                </tr>

            <%else%>
                <tr style="color:green">
                    <td style="word-break: break-all;" width="95%"><%=route.path%></td><td width="5%"><%=route.count%>
                    </td>
                </tr>
            <%end%>
        </li>
        <%end%>
    </table>
  </li>