<form name="save_route" action="/scenarios/save_route" method="post">
<div class="container-fluid">
    <div style="margin-bottom: 20px;padding-bottom: 5px;border-bottom: 1px solid #eaeaea;">
      <h4 >Copy to Scenario</h4>
    </div>
    <table class="table-striped table-bordered table-hover table-condensed">
    	<thead>
    		<tr>
    			<th>Path</th>
    			<th>Type</th>
    		</tr>
    	</thead>
    	<tbody>
    		<%@routes.each do |route|%>
    		<tr>
    			<td style="word-break: break-all;">
    				<input type="hidden" name="route_ids[]" value="<%=route[:id]%>"/>
					<a href="/routes/<%=route[:id]%>"><%= route[:path] %></a>
				</td>
				<td>
					<%= route[:route_type] %>
				</td>
    		</tr>
    		<%end%>
    	</tbody>
    </table>
<div>
<div style="margin:20px;">
	<div style="margin-bottom: 20px;padding-bottom: 5px;border-bottom: 1px solid #eaeaea;">
      <h4>Copy to below scenario</h4>
    </div>
    	<div class="form-group">
        <label for="feature-name" class="control-label">Feature name:</label>
        <input type="text" class="form-control" id="recipient-name" name="feature_name" list="feature_name" autocomplete="off">
          <datalist id="feature_name">
            <%@features.each do |feature|%>
              <option value="<%=feature.feature_name%>">
            <%end%>
          </datalist> 
      </div>
      <div class="form-group">
        <label for="message-text" class="control-label">Flow name:</label>
        <input type="text" class="form-control" id="recipient-name" name="flow_name" list="flow_name" autocomplete="off">
         <datalist id="flow_name">
            <%@flows.each do |flow|%>
              <option value="<%=flow.flow_name%>">
            <%end%>
          </datalist>
      </div>
      <div class="form-group">
        <label for="message-text" class="control-label">Scenario name:</label>
       <input type="text" class="form-control" id="recipient-name" name="scenario_name" list="scenario_name" autocomplete="off">
        <datalist id="scenario_name">
            <%@scenarios.each do |scenario|%>
              <option value="<%=scenario.scenario_name%>">
            <%end%>
          </datalist>
  	  </div>
  	   <button type="submit" class="btn btn-primary">Submit</button>
</div>

</form>