<div class="container-fluid">

    <%if @action == "Copy"%>

     <form name="save_route" action="/scenarios/save_route" method="post">

       <input type="hidden" name="redirect_path" value="<%=@redirect_path%>"/>

          <div style="margin-bottom: 20px;padding-bottom: 5px;border-bottom: 1px solid #eaeaea;">
            <h4>Copy to Scenario</h4>
          </div>

          <table class="table-striped table-bordered table-hover table-condensed">
            	<thead>
            		<tr>
            			<th>Path</th>
            			<th>Type</th>
            		</tr>
            	</thead>
            	<tbody>
            		<%unless @routes.blank? || @routes.empty? || @routes.nil?%>
                   <%@routes.each do |route|%>
                		<tr>
                  			<td style="word-break: break-all;">
                  				<input type="hidden" name="route_ids[]" value="<%=route[:id]%>"/>
                          <a href="/features/<%= route.scenario.flow[:feature_id] %>/flows/<%= route.scenario[:flow_id]%>/scenarios/<%=route[:scenario_id]%>/routes/<%=route[:id]%>"><%= route[:path] %></a>
              				  </td>
              				  <td>
              				  	<%= route[:route_type] %>
              				  </td>
                		</tr>
            		<%end%>
                <%end%>
            	</tbody>
          </table>

          <div style="margin:20px;">

          	 <div style="margin-bottom: 20px;padding-bottom: 5px;border-bottom: 1px solid #eaeaea;">
                <h4>Copy to below scenario</h4>
              </div>

              <div class="form-group">
                  <label for="feature-name" class="control-label">Feature name:</label>
                  <input type="text" class="form-control" id="recipient-name" name="feature_name" list="feature_name" autocomplete="off">
                    <datalist id="feature_name">
                      <%@features.each do |feature|%>
                        <option value="<%=feature.feature_name%>">
                      <%end%>
                    </datalist> 
              </div>

              <div class="form-group">
                <label for="message-text" class="control-label">Flow name:</label>
                <input type="text" class="form-control" id="recipient-name" name="flow_name" list="flow_name" autocomplete="off">
                 <datalist id="flow_name">
                    <%@flows.each do |flow|%>
                      <option value="<%=flow.flow_name%>">
                    <%end%>
                  </datalist>
              </div>

              <div class="form-group">
                <label for="message-text" class="control-label">Scenario name:</label>
               <input type="text" class="form-control" id="recipient-name" name="scenario_name" list="scenario_name" autocomplete="off">
                <datalist id="scenario_name">
                    <%@scenarios.each do |scenario|%>
                      <option value="<%=scenario.scenario_name%>">
                    <%end%>
                  </datalist>
          	  </div>

            	<button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
  <%end%>


  <%if @action == "Find"%>
   <div style="float:right; padding:10px;">
   <a href="/scenarios/revert_marked_scenarios">Revert marked scenarios</a>
  </div>
  <div style="margin-bottom: 20px;padding-bottom: 5px;border-bottom: 1px solid #eaeaea;">
    <h4>Find and Replace</h4>
  </div>
      <form name="insert_or_update_routes" action="/scenarios/insert_or_update_routes" method="post">
         <input type="hidden" name="redirect_path" value="<%=@redirect_path%>"/>
        <div>
        <%unless @routes.blank? || @routes.empty? || @routes.nil?%>
          <table class="table table-bordered;">
              <thead>
                <tr>
                    <th>
                      Path (Scenario: <a href="/features/<%= @routes[0].scenario.flow[:feature_id] %>/flows/<%= @routes[0].scenario[:flow_id]%>/scenarios/<%=@routes[0][:scenario_id]%>"><%=@routes[0].scenario.flow.feature.feature_name%>-><%=@routes[0].scenario.flow.flow_name%>-><%=@routes[0].scenario.scenario_name%></a>)
                    </th>
                    <th>
                      Type
                    </th>
                </tr>
              </thead>
              <tbody>
               
            <%@scenario.routes.each do |route|%>
              <tr>
                  <td>
                    <%if @route_ids.include?(route.id)%>
                      <input type="checkbox" name="route_ids[]" value="<%=route.id%>" checked="checked"/>
                    <%else%>
                      <input type="checkbox" name="route_ids[]" value="<%=route.id%>"/>
                    <%end%>
                      <a href="/features/<%= route.scenario.flow[:feature_id] %>/flows/<%= route.scenario[:flow_id]%>/scenarios/<%=route[:scenario_id]%>/routes/<%=route[:id]%>"><%= route[:path] %></a>
                  </td>
                  <td>
                     <%=route.route_type%>
                  </td>
              </tr>
            <%end%>
          </tbody>
          </table>
        <%end%>
        </div>
        <%unless @scenarios.blank? || @scenarios.empty? || @scenarios.nil?%>
          <%if @scenarios_identified_for_replace.blank?%>
             <div  style="padding-top:50px">
             <div style="margin-bottom: 20px;padding-bottom: 5px;border-bottom: 1px solid #eaeaea;">
                 <h4 >The above URL(s) found in below scenario(s)</h4>
             </div>
             <table class="table table-bordered;" id="marked">
              <thead>
                 <tr>
                    <th>
                        Select </br>
                        <input type="checkbox" id="selectAll" value="selectAll">
                    </th>
                    <th>
                        Scenarios
                    </th>
                  </tr>
              </thead>
              <tbody>
                <%@scenarios.each do |scenario|%>
                 	<tr>
                    <td width="5%">
                        <input type="checkbox" name="scenario_ids[]" value="<%=scenario.id%>"/>
                    </td>
                    <td>
                      <a onclick="show_or_hide(<%=scenario.id%>);"><%=scenario.flow.feature.feature_name%>-><%=scenario.flow.flow_name%>-><%=scenario.scenario_name%></a>
                      <table class="table table-bordered;" style="display:none;" id="<%=scenario.id%>">
                          <%scenario.routes.each do |route|%>
                            <tr>
                                <td style="word-break: break-all; padding-left:30px;"> <a href="/features/<%= route.scenario.flow[:feature_id] %>/flows/<%= route.scenario[:flow_id]%>/scenarios/<%=route[:scenario_id]%>/routes/<%=route[:id]%>"><%= route[:path] %></a></td>
                                <td><%=route.route_type%></td>
                            </tr>
                          <%end%>
                      </table>
                    </td>
                  </tr>
                <%end%>
            </tbody>
          </table>
       </div>
    <%end%>
  <%end%>
  <%unless @scenarios_identified_for_replace.blank? || @scenarios_identified_for_replace.empty? || @scenarios_identified_for_replace.nil?%>
  <div  style="padding-top:50px">
      <div style="margin-bottom: 20px;padding-bottom: 5px;border-bottom: 1px solid #eaeaea;">
        <h4>Scenarios marked to Replace</h4>
      </div>
      <table class="table table-bordered;" id="marked">
        <thead>
           <tr>
              <th>
                  Select </br>
                  <input type="checkbox" id="selectAll" value="selectAll">
              </th>
              <th>
                  Scenarios
              </th>
            </tr>
        </thead>
         <%@scenarios_identified_for_replace.each do |scenario|%>
          <tr>
            <td width="5%">
                <input type="checkbox" name="scenario_ids[]" value="<%=scenario.id%>"/>
            </td>
            <td>
                <a onclick="show_or_hide(<%=scenario.id%>);"><%=scenario.flow.feature.feature_name%>-><%=scenario.flow.flow_name%>-><%=scenario.scenario_name%></a>
                <table class="table table-bordered;" style="display:none;" id="<%=scenario.id%>">
                    <%scenario.routes.each do |route|%>
                      <tr>
                          <td style="word-break: break-all; padding-left:30px;"> <a href="/features/<%= route.scenario.flow[:feature_id] %>/flows/<%= route.scenario[:flow_id]%>/scenarios/<%=route[:scenario_id]%>/routes/<%=route[:id]%>"><%= route[:path] %></a></td>
                          <td><%=route.route_type%></td>
                      </tr>
                    <%end%>
                </table>
             </td>
          </tr>
          <%end%>

       </table>
     </div>
      <%end%>
       <%if @scenarios.blank? && @scenarios_identified_for_replace.blank?%>

       <%elsif @scenarios_identified_for_replace.blank? && @scenarios.count>1%>
           <div style="text-align:center">
              <button type="submit" class="btn btn-primary" name="commit" value="Save to Replace">Mark to Replace</button>
          </div>  
        <%elsif !@scenarios_identified_for_replace.blank?%>
           <div style="text-align:center">
              <button type="submit" class="btn btn-primary" name="commit" value="Replace">Submit</button>
          </div>  
      <%end%>
  </form>
<%end%>
</div>
<script type="text/javascript">
    $('#selectAll').click(function() {
       if (this.checked) {
           $('#marked input:checkbox').each(function() {
               this.checked = true;                        
           });
       } else {
          $('#marked input:checkbox').each(function() {
               this.checked = false;                        
           });
       } 
    });
    function show_or_hide(id)
    {
      $("#"+id).toggle();
    }

</script>