
<div class="container-fluid">
<p>
 <div class="page-header"><h1> <%= @scenario.scenario_name %></h1></div>
  <table>
    <tbody>
		<% @scenario.routes.each do |route| %>
		<tr>
			<td>
				<a href="/features/<%= @flow[:feature_id] %>/flows/<%= @scenario[:flow_id]%>/scenarios/<%=route[:scenario_id]%>/routes/<%=route[:id]%>"><%= route[:path] %></a>
			</td>
		<% end %>
	</tbody>
</table>
</p>
</div>