
  <%- model_class = Feature -%>
  
<form name="features_export" action="features/export" method="post" onSubmit="if(!confirm('are you sure?')){return false;}">
  <table class="table table-striped" style="align:center">
    <thead>
      <tr>
        <th>Feature (<%=@features.count%>)</th>
        <th></th>
        <th>Flows</th>
        <th style="text-align:center">Select Feature <br/> <input type="checkbox" id="selectAll" value="selectAll"></th>
    </tr>
  </thead>
  <tbody>
    <% @features.each do |feature| %>
      <tr>
        <td><%= link_to feature.feature_name, feature_path(feature) %>  </td>

         <td> <%= link_to edit_feature_path(feature), class: 'btn btn-default' do %>
         <span class="glyphicon glyphicon-pencil"></span>
          <% end %>   </td>
          <td>
            <%=feature.flows.count%>
          </td>
       
        <td style="text-align:center"> <%= check_box_tag "feature_ids[]", feature.id %></td>
      </tr>
    <% end %>
      <tr>
          <td colspan="3">
          </td>
          <td style="text-align:center">
             <input type="submit" name="commit" value="Export Selected" class="btn btn-default btn-xs">
             <input type="submit" name="commit" value="Delete Selected" class="btn btn-xs btn-danger"/>
          </td>
      </tr>
    </tbody>
  </table>
</form>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_feature_path,
            :class => 'btn btn-primary' %>

<script type="text/javascript">

   $('#selectAll').click(function() {
   if (this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;                        
       });
   } 
});

</script>

