<div class="container-fluid">
  <%- model_class = Feature -%>
  <%= render :partial => 'common/header' %>
<form name="features_export" action="features/export" method="post">
  <table class="table table-striped" style="align:center">
    <thead>
      <tr>
        <th>Feature (Scenarios: <%=@flows.count%>)</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
        <th>Select Feature</th>
    </tr>
  </thead>
  <tbody>
    <% @features.each do |feature| %>
      <tr>
        <td><%= link_to feature.feature_name, feature_path(feature) %> (<%=feature.flows.count%>) </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_feature_path(feature), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      feature_path(feature),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
        <td> <%= check_box_tag "feature_ids[]", feature.id %></td>
      </tr>
    <% end %>
      <tr>
          <td colspan="2">
          </td>
          <td>
             <input type="submit" name="commit" value="Export" class="btn btn-primary" />
             <a class="btn btn-default" href="/features/export_all">Export All</a>
          </td>
      </tr>
    </tbody>
  </table>
</form>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_feature_path,
            :class => 'btn btn-primary' %>
  </div>
