<div class="container-fluid">
  <%- model_class = Feature -%>
<form name="features_export" action="features/export" method="post">
  <table class="table table-striped" style="align:center">
    <thead>
      <tr>
        <th colspan="2">
        </th>
        <th class="text-right">
           <a href="stubs/" class="btn btn-primary">Log</a>
           <a href="scenarios/debug" class="btn btn-primary">Debug</a>
           <a href="config/" class="btn btn-primary">Config</a>
           <a href="features/import_json" class="btn btn-primary">Upload Feature</a>
        </th>
      </tr>
      <tr>
       <!-- <th><%= model_class.human_attribute_name(:id) %></th> -->
        <th><%= model_class.human_attribute_name(:feature_name) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
        <th>Select Feature</th>
    </tr>
  </thead>
  <tbody>
    <% @features.each do |feature| %>
      <tr>
        <!--<td><%= link_to feature.id, feature_path(feature) %></td> -->
        <td width="33%"><%= link_to feature.feature_name, feature_path(feature) %></td>
        <td width="33%">
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_feature_path(feature), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      feature_path(feature),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
        <td> <%= check_box_tag "feature_ids[]", feature.id %></td>
      </tr>
    <% end %>
      <tr>
          <td colspan="2">
          </td>
          <td>
              <input type="submit" name="commit" value="Export Feature" class="btn btn-primary" />
          </td>
      </tr>
    </tbody>
  </table>
</form>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_feature_path,
            :class => 'btn btn-primary' %>
  </div>
