<div class="container-fluid">
<%- model_class = Feature -%>
<h3>Add a flow:</h3>
<%= form_for([@feature, @feature.flows.build]) do |f| %>
  <p>
    <%= f.label :flow_name %><br>
    <%= f.text_field :flow_name %>
  </p>
  <p>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </p>
<% end %>

<div class="page-header">
  <h3>
      <%= @feature.feature_name %>
  </h3>
</div>

<table class="table table-striped text-center">
  <thead >
 		<tr>
    	<th class="text-center">
    		Flow Id
    	</th>
    	<th class="text-center">
    		Flow Name
    	</th>
      <th class="text-center">
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
		<% @feature.flows.each do |flow| %>
		<tr>
			<td>
				<%=flow[:id]%>
			</td>
			<td>
				<a href="/features/<%= flow[:feature_id] %>/flows/<%=flow[:id]%>"><%=flow[:flow_name]%></a>
			</td>
      <td>
        <a class="btn btn-default btn-xs" href="/features/<%= flow[:feature_id] %>/flows/<%=flow[:id]%>/edit">Edit</a>
        <a data-confirm="Are you sure?" class="btn btn-xs btn-danger" rel="nofollow" data-method="delete" href="/features/<%= flow[:feature_id] %>/flows/<%=flow[:id]%>">Delete</a>
      </td>
		<% end %>
	</tbody>
</table>
<%= link_to t('.back', :default => t("helpers.links.back")),
              features_path, :class => 'btn btn-default'  %>
</div>

