
    <%- model_class = Feature -%>
        <%= form_for([@feature, @feature.flows.build]) do |f| %>
          <p>
            <%= f.label :flow_name %><br>
            <%= f.text_field :flow_name, :size=>"50%"%>
          </p>
          <p>
            <%= f.submit nil, :class => 'btn btn-primary' %>
          </p>
        <% end %>

        <div class="page-header">
          <h4>
             Feature: <%= @feature.feature_name %>
          </h4>
        </div>

        <table class="table table-striped">
          <thead >
         		<tr>
            	<th>
            		Flow Name
            	</th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
        		<% @feature.flows.each do |flow| %>
            <% unless flow[:flow_name].blank?%>
        		<tr>
        			<td>
        				<a href="/features/<%= flow[:feature_id] %>/flows/<%=flow[:id]%>"><%=flow[:flow_name]%></a>
        			</td>
              <td>
                <a class="btn btn-default btn-xs" href="/features/<%= flow[:feature_id] %>/flows/<%=flow[:id]%>/edit">Edit</a>
                <a data-confirm="Are you sure?" class="btn btn-xs btn-danger" rel="nofollow" data-method="delete" href="/features/<%= flow[:feature_id] %>/flows/<%=flow[:id]%>">Delete</a>
              </td>
              <%end%>
        		<% end %>
        	</tbody>
        </table>
        <%= link_to t('.back', :default => t("helpers.links.back")),
                      features_path, :class => 'btn btn-default'  %>


