
<div class="container-fluid">
<%- model_class = Feature -%>
<div class="page-header">
  <h1><%= @feature.feature_name %></h1>
</div>

 <table class="table table-striped text-center">
  	 <thead >
 		 <tr>
    		<th class="text-center">
    			Flow Id
    		</th>
    		<th class="text-center">
    			Flow Name
    		</th>
    	</tr>
    </thead>
    <tbody>
		<% @feature.flows.each do |flow| %>
		<tr>
			<td>
				<%=flow[:id]%>
			</td>
			<td>
				<a href="/features/<%= flow[:feature_id] %>/flows/<%=flow[:id]%>"><%=flow[:flow_name]%></a>
			</td>
		<% end %>
	</tbody>
</table>
</p>
<%= link_to t('.back', :default => t("helpers.links.back")),
              features_path, :class => 'btn btn-default'  %>
</div>

