<div class="container-fluid">

     
    <div>
      <h4>Aadhi Config</h4>
    </div>
    <form class="form-horizontal feature" id="edit_feature_1" action="/aadhiconfig/1" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="kgt6iGTQxU7mEceMc0Y4/38BCHB+NLg9+N0akjXbk6eUikj5ytr83dhRr/L/C/RMKxgpmoTumvcd4xun9xIbzw==" />
        <table class="table">
            <tbody>
            <% @configs.each do |aadhiconfig| %>
              <tr>
                <td style="margin-left:80%">
                      <input  name="aadhiconfig[server_mode]" type="radio" value="default" <%= (aadhiconfig.server_mode == "default") ? "checked=\"checked\"" : "" %> onclick="set_proxy('default');" style="margin-left:-3px"/>default
                      <input  name="aadhiconfig[server_mode]" type="radio" value="record" <%= (aadhiconfig.server_mode == "record") ? "checked=\"checked\"" : "" %> onclick="set_proxy('proxy');"/>proxy
                      <input name="aadhiconfig[server_mode]" type="radio" value="refresh" <%= (aadhiconfig.server_mode == "refresh") ? "checked=\"checked\"" : "" %> onclick="set_proxy('refresh');"/>refresh
                </td>
              </tr>
          </tbody>
        </table>
       <input type="hidden" value="<%= aadhiconfig.server_mode%>" id="mode"/>
        <table id="proxy" style="display:none" class="table">
            <tbody>
                <tr>
                    <td>
                        Do you want to set proxy?
                          <input  name="aadhiconfig[isProxyRequired]" type="radio" value="yes" style="margin-left:-3px" <%= (aadhiconfig.isProxyRequired == "yes") ? "checked=\"checked\"" : "" %>/>yes
                          <input  name="aadhiconfig[isProxyRequired]" type="radio" value="no" <%= (aadhiconfig.isProxyRequired == "no") ? "checked=\"checked\"" : "" %>/>no
                    </td>
                </tr>
                <tr>
                    <td>
                        Proxy URL:  <input type="text" name="aadhiconfig[url]" value="<%= aadhiconfig.url%>" size="40%"/>
                        <!--Port:  <input type="text" name="aadhiconfig[port]" value="<%= aadhiconfig.port%>"/>-->
                        User name:  <input type="text" name="aadhiconfig[user]" value="<%= aadhiconfig.user%>"/>
                        Password:  <input type="password" name="aadhiconfig[password]" value="<%= aadhiconfig.password%>"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Bypass proxy settings for these Hosts & Domains <br>
                        <textarea name="aadhiconfig[bypass_proxy_domains]" cols="150"><%= aadhiconfig.bypass_proxy_domains%></textarea>
                    </td>
                </tr>
            </tbody>

            <% end %>
        </table>
         <a class="btn btn-default" href="/features">Back</a>
         <input type="submit" name="commit" value="Update" class="btn btn-primary" />
   </form>
</div>
<script>
     $( document ).ready(function() {
        set_proxy($("#mode").val());
      });
      function set_proxy(mode)
      {
        if(mode=='default' || mode=='refresh' )
        {
           $("#proxy").css("display","none");
        }
        else{
           $("#proxy").css("display","block");
        }
      }
</script>


