<footer>
  <!--
  <small>
    The local API server for automation
  </small>
-->
  <nav>
    <ul>
      <li><%= link_to "Search Scenario",   '/search/search_scenario_index' %></li>
      <li><%= link_to "Search Route",   '/search/search_route_index' %> &nbsp;&nbsp; |</li>
      <li><%= link_to "404 Log",   '/notfound/' %></li>
      <li><%= link_to "Clear 404 Log", '/notfound/clear_notfound_list', method: :delete %>&nbsp;&nbsp; |</li><li><%= link_to "Server Log", '/stubs/server_log' %></li>
      <li><%= link_to "Clear Server Log", '/stubs/clear_server_log', method: :delete %></li>
    </ul>
  </nav>
</footer>

