<!DOCTYPE html>
<html>
<head>
  <title>Aadhi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body oncontextmenu="return false">
  <%= render 'layouts/header' %>
  <div class="container">
     <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
<script type="text/javascript">
  $(document).ready(function() {
  	$(".aadhi-page-header").click(function(){
  			window.location = "/";
  		});
  	});

   $(document).on('contextmenu', function (evt) {
     if (!$(evt.target).is('.context')) {
         evt.preventDefault();
     }   
 });
  </script>
</body>
</html>
